.developer{
    position: fixed;
    background: rgb(237, 240, 245);
    width: 98%;
    height: 77%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px; 
    }

.inputtab{
    float: left;
    margin-left: 5%;
    margin-top: 20px;
    width:30%;
     margin-top:0; 
    margin-right:20px;
    border-radius: 5px;
    background-color: rgb(237, 240, 245);
    font-weight: bold;
    /* border-color: black; */
    /* border-style: groove; */
}
.inputtab input[type=text] {
    width: 60%;
    font-weight: bold;
    padding: 5px;  
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-sizing: border-box;
    /* margin-top: 6px; */
    margin-bottom: 16px;
    resize: vertical;
    }
.inputtab  button[type=submit] {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
         padding: 12px 20px;  
        /* border: none; */
        /* border-radius: 4px; */
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        display:block;
         /* margin-top:2%;  */
        margin-bottom:5%;
        }
        
.inputtab  button[type=submit]:hover {
            background-color: #45a049;
            }
.inputtab p{
     text-align: left;
     margin-left: 20px;
     margin-top: 5px;
      /* padding: 5px;  */
     /* border-style: groove; */
 }           
 .dev-list-panel ul{
    float: right;
    background: rgb(237, 240, 245);
    width: 50%;
    margin-top: 5px;
    margin-right: 5%;
     border-radius: 5px; 
     border-style: groove; 
    /* border-color: #011c36; */
} 
.dev-list-panel table{
    margin-top: 8px;
    margin-right: 50px;
    margin-left: 40px;
    border: black;
    border-radius: 4px;
    background-color: #dddddd;
    text-align: left;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
tr{
    /* border: 1px solid #dddddd;  */
    /* border-color: aliceblue; */
    text-align: left;
    padding: 8px;
  }
