.inputtab{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width:30%;
    margin-top:1%; 
    margin-right:20px;
    border-radius: 5px;
    background-color: rgb(237, 240, 245);
    font-weight: bold;
    text-align: left;
    border-color: black;
    border-style: groove;
}
.inputtab input[type=text] {
    width: 60%;
    font-weight: bold;
    padding: 5px;  
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 70px;
    margin-bottom: 16px;
    resize: vertical;
    border-color: deepskyblue;
    border-style: groove;
    }
.inputtab input[type=date] {
    width: 60%;
    font-weight: bold;
    padding: 5px;  
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 70px;
    margin-bottom: 16px;
    resize: vertical;
    border-color: deepskyblue;
    border-style: groove;
    }

.inputtab  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 12px 20px;  
    border-radius: 5px; 
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom:5%;
    }
.inputtab p{
     text-align: left;
     margin-left: 20px;
     margin-top: 5px;
 }           
.dev-list-panel ul{
    float: right;
    background: rgb(237, 240, 245);
    width: 50%;
    margin-top: 5px;
    margin-right: 5%;
     border-radius: 5px; 
     border-style: groove; 
    border-color: #011c36;
} 
.dev-list-panel table{
    margin-top: 1%;
    margin-right: 30px;
    margin-left: 40px;
    border-radius: 4px;
    border: 1px  black ; 
    background-color: #011c36;
    text-align: left;
    font-family: arial, sans-serif;
    width: 60%;
    position: relative;
}
tr{
    border: 1px  #dddddd;  
    text-align: left;
    padding: 8px;
    background-color: white;
  }
