.addedskill{
  position: fixed;
  background: rgb(237, 240, 245);
  width: 98%;
  height: 77%;
  margin-left: 1%;
  margin-right: 1%;
  /* margin-top: 1%; */
  margin-bottom: 1%;
   border-radius: 5px; 
   position: fixed;
   
  }
.right {
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    text-align: left;
    width:30%;
    /* margin-top:0; */
    margin-right:30px;
    border-radius: 5px;
    background-color: rgb(237, 240, 245);
    font-weight: bold;
    border-color: black;
    border-style: groove;
    } 

.right input[type=text] {
    width: 100%;
    font-weight: bold;
    padding: 10px; 
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    border-color: deepskyblue;
    border-style: groove;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 16px;
    resize: vertical;
    }
.right  button[type=submit] {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        padding: 12px 20px; 
        border: none;
        border-radius: 4px;
        text-align: center;
        display:block;
        margin-top:5%;
        margin-left:25%;
        margin-left: 25%;
        margin-bottom:5%;
        width: 50%;
        }
        
.right  button[type=submit]:hover {
            background-color: #45a049;
            }
.right p{
     text-align: left;
     margin-left: 20px;
     margin-top: 40px;
     padding: 10px;
     /* border-style: groove; */
 }           
.skill-list-panel ul{
    float: right;
    background: rgb(237, 240, 245);
    width: 30%;
    /* margin-top: 0px; */
    margin-right: 15%;
    border-radius: 5px;
    border-style: groove;
    border-color: #011c36;
} 
.skill-list {
   list-style: none;
   /* padding: 1; */
}
.skill-list li {
   background: rgb(237, 240, 245);
   /* padding: 1px; */
   width: 50%;
   border-radius: 4px;
   margin-left: 30px;

}
.skill-list p {
   font-weight: bold;
   font-size: 15px;
   text-align: left;
}

.skill {
   display: inline-block;
}
/* .right fieldset{
    height: 50%;
} */
 .right span{
   color: red;
   font-size: 10px;
} 