.right fieldset{
    float: left;
    margin-left: 4%;
    margin-top: 10px;
    text-align: left;
    width:30%;
    padding: 1%;
    margin-right:30px;
    border-radius: 5px;
    background-color: rgb(237, 240, 245);
    font-weight: bold;
    border-color: black;
    border-style: groove;
    } 
.right legend{
  color:red;
  background-color: rgb(237, 240, 245);
  border-radius: 5px;
 }
.right input[type=text] {
    width: 100%;
    font-weight: bold;
    padding: 10px; 
    border-radius: 4px;
    border-color: deepskyblue;
    border-style: groove;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
    }
.right  button[type=submit] {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        padding: 12px 20px; 
        border: none;
        border-radius: 4px;
        text-align: center;
        display:block;
        margin-top:3%;
        margin-left:25%; 
        margin-bottom:5%;
        width: 50%;
        }
        
.right  button[type=submit]:hover {
            background-color: #45a049;
            }
.right p{
     text-align: center;
     padding: 10px;
 }   

.right span{
    color: red;
    font-size: 10px;
 }          

.skill-list-panel table{
    margin-top: 3%;
    margin-right: 100px;
    border-radius: 4px;
    border: 1px  black ; 
    background-color: #011c36;
    text-align: center;
    font-weight: bold;
    font-family: arial, sans-serif;
    width: 50%;
    position: relative;
    }
.skill-list-panel

.th{
    border: 1px  #dddddd;  
    padding: 20px;
    width: 90%;
    background-color: white;
    }