.tr{
   border: 1px solid; 
   text-align: center;
   text-emphasis-style: initial;
   padding: 4px;
   background: rgb(59, 89, 152); 
   color:white;
   width: 70%; 
 }
.tr, button[type=submit] {
  background-color:  #4CAF50;
  color: black;
  font-weight: bold;
  border-radius: 5px; 
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  }
.modal-content{
   text-align: left;
   position: absolute;
   background-color: red;
   background-color: rgba(237, 240, 245); 
   left:25%;
   width: 40%;
   padding: 10px;
   border-radius: 5px; 
   color: black;
  } 

.modal-content button[type=select]{
   text-align: left;
   margin-left: 4%;
   
  } 
.modal-content select{
   width: 80%;
   font-weight: bold;
   padding: 5px;  
   border-radius: 4px; 
   box-sizing: border-box;
   margin-left: 30px;
   margin-bottom: 16px;
   resize: vertical;
   border-color: deepskyblue;
   border-style: groove;
   color: red;
   
  } 

.modal-content button{
   background-color: #4CAF50;
   color: black;
   padding: 4px;    
   border-radius: 5px; 
   text-align: center;
   margin-right:auto;
   margin-left: 30%;
   margin-bottom:5%;

} 
.modal-content input{
   width: 80%;
   font-weight: bold;
   padding: 5px;  
   border-radius: 4px; 
   box-sizing: border-box;
   margin-left: 30px; 
   margin-bottom: 16px;
   resize: vertical;
   border-color: deepskyblue;
   border-style: groove;
   color: red;

} 