.body2{
    width: 100%;
    height:530px;
    /* margin-top: 0px; */
    margin-bottom: 0%; 
    background-image: url('../components/Picture/coding-dojo2.png') ;
    background-size: cover;
  } 
 .div{
    background-attachment: fixed;
} 

.body1 {
    width: 100%;
    background-color: #011c36;
    height:45px;
    text-align: center;
  
}

.body1 a{
    color: white;
    text-decoration: none;
    position: relative;
   
 }

.body1 input{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.nav {
    list-style-type: none;
    margin: 0;
    text-align: right;
}
  
.nav li {
    display:inline-block ;
    font-size: 15px;
    font-weight: bold;
    padding: 17px;
    /* position: fixed; */
}

