
.tr, th {
     border: 1px solid; 
    text-align: center;
    text-emphasis-style: initial;
    padding: 8px;
    /* border-radius: 5px; */
    background: rgb(59, 89, 152); 
    /* border-color: aliceblue; */
    color:white;
  }
  
 