.footer {
     position: fixed; 
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: #011c36;
    /* color: white;
    text-align: center;
    font-style: unset;
    font-size: 12px; */
    }