.header{
    width: 100%;
    height:60px;
    text-align: center;
    background-color: #011c36;
    color:white ;
    text-emphasis-color: unset;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
     position: relative; 
  }
  
.header2{
    background-color: gold;
    height: 2px;
    position: relative;
}

.header img{
    margin-top: .5%;
    background-image: url('../components/Picture/logo.png');
    height: 45px;
    width: 45px;
    position: relative;
    
}